*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(./Happy-Drummer-1024x683.jpg); 
   background-repeat: no-repeat;
   background-size: 100%;
}
.continer{
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    text-align: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;


}
.continer h1{
    background: rgba(0, 0, 0, 0.556);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: solid 2px white;
}